<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>District:</strong>
  <%= @service.district %>
</p>

<p>
  <strong>Help:</strong>
  <%= @service.help %>
</p>

<p>
  <strong>Selfintroduction:</strong>
  <%= @service.selfintroduction %>
</p>

<p>
  <strong>Tadameshi:</strong>
  <%= @service.tadameshi %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @service.deadline %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
